<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoyoParent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84B73E1E1F6BC9D900A0FD8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B73E321F6BC9DA00A0FD8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B73E3D1F6BC9DA00A0FD8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
